<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<properties>
		<property name="filePrefix">orchestrator-engine</property>
	</properties>
	<appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-p] [%t] %trkctx %c{1} - %m%n"/>
		</Console>
		<!--RollingFile name="RollingFile" fileName="E:/logs/${filePrefix}-${date:yyyy-MM-dd}.log" filePattern="E:/logs/${filePrefix}-%d{yyyy-MM-dd}.log.%i"-->
		<RollingFile name="RollingFile" fileName="${sys:catalina.base}/logs/orchestrator/${filePrefix}-${date:yyyy-MM-dd}.log" filePattern="${sys:catalina.base}/logs/orchestrator/${filePrefix}-%d{yyyy-MM-dd}.log.%i">
			<PatternLayout>
				<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-p] %trkctx %c{1}:%L - %m%n</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy /><!-- Rotated everyday -->
				<SizeBasedTriggeringPolicy size="25 MB"/> <!-- Or every 100 MB -->
			</Policies>
		</RollingFile>
	</appenders>
	<loggers>
		<root level="info">
			<appender-ref ref="console"/>
		</root>
	    <Logger name="com.orchestration.orchestratorengine" level="trace" additivity="true">
	      	<appender-ref ref="RollingFile" />
	      	<!-- appender-ref ref="console" / -->
	    </Logger>
	</loggers>
</configuration>